<div class="andra">
        <div class="stor" id="titel">BAKVERK</div>
        <a href="/public/site/pepparkakor.html"><div class="box" id="box1"></div></a>
        <div class="box">Ett klassiskt recept på goda pepparkakor. Baka pepparkakor tillsammans med någon så blir det extra trevligt!</div>
        <a href="/public/site/lussekatt.html"><div class="box" id="box3"></div></a>
        <div class="box">Lussekatter, lussebullar eller saffranskusar - kärt barn har många namn.</div>
        <a href="/public/site/mjukpepparkaka.html"><div class="box" id="box4"></div></a>
        <div class="box">Ett fantastiskt recept på oemotståndlig mjuk pepparkaka perfekt att servera runt jul. Du gör kakan av bland annat mjöl, kanel, nejlikor, bikarbonat, smör och grädde.</div>
        <a href="/public/site/cheesecake.html"><div class="box" id="box5"></div></a>
        <div class="box">Godaste juldesserten gjord på saffransfärskost med syrlig apelsin och botten av digestivekex. Perfekt att göra dagen innan festen och förvara i frysen.</div>
        <a href="/public/site/kolasnittar.html"><div class="box" id="box6"></div></a>
        <div class="box">Dessa kolasnittar med ingefära är sådär knapriga och härligt sega som vi vill ha dem. Att de är enkla att baka och rörs ihop på ett nafs gör ju inte saken sämre.</div>
</div>