
<div class="recept">
<div class="bild" id="brändab"></div>
<div class="fakta"> <h3 id="rubrik">Brända mandlar</h3> <p> Brända mandlar är ett klassisk julgodis som ofta serveras till advent.</p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b>150 st <br> <br> <b>Tid:</b>1 tim 30 min
    <h2>Ingredienser</h2>
    <ul>
        <li>200 g sötmandel
        <li>1 ½ dl strösocker
        <li>½ dl vatten
    </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Rosta mandlarna i en torr varm stekpanna. Koka upp socker och vatten i en kastrull.
    <li id="margin">Tillsätt mandlarna och koka tills det börjar knäppa i mandlarna och det sockrar sig. Rör om hela tiden.
    <li id="margin">Ta kastrullen från värmen och häll upp mandlarna på ett bakplåtspapper. Separera dem försiktigt. Låt svalna.
</ol>
</div>
</div>
