
<div class="recept">
<div class="bild" id="cheeseb"></div>
<div class="fakta"> <h3 id="rubrik">Cheesecake</h3> <p> Godaste juldesserten gjord på saffransfärskost med syrlig apelsin och botten av digestivekex. </p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b> 10-12 bitar <br> <br> <b>Tid:</b>1 tim 15 min
    <h2>Ingredienser</h2>
    <ul>
        <li>200 g digestivekex (+ ev extra till garnering)
        <li>100 g smält smör
        <li>3 äggulor
        <li>300 g färskost (av cream cheese-typ)
        <li>1 1/2 dl strösocker
        <li>1 tsk finrivet apelsinskal
        <li>1 msk färskpressad apelsinjuice
        <li>½ g saffran
        <li>3 äggvitor
        <li>3 dl vispgrädde
        <li>4 färska fikon
        </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Mixa digestivekex och blanda med smält smör. Tryck ut i botten av en form med löstagbar kant, ca 24 cm i diameter (för 10-12 bitar).
    <li id="margin">Vispa färskost, äggulor, strösocker, finrivet apelsinskal, färskpressad apelsinjuice och saffran till en fluffig smet.
    <li id="margin">Vispa äggvitor fluffigt i en bunke och vispgrädde fluffigt i en annan bunke.
    <li id="margin">Vänd ner grädden i färskostblandningen. Vänd sedan ner äggvitorna. Häll smeten i formen och frys minst 6 timmar.
    <li id="margin">Toppa med skurna fikon och smulade digestivekex.
</ol>
</div>
</div>
