
<div class="recept">
<div class="bild" id="fudgeb"></div>
<div class="fakta"> <h3 id="rubrik">Fudge</h3> <p>Klassiskt recept på engelsmännens favoritgodis. </p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b> 50 st <br> <br> <b>Tid:</b> 40 min
    <h2>Ingredienser</h2>
    <ul>
        <li>1 ½ dl strösocker
        <li>1 ½ dl vispgrädde
        <li>1 dl vit sirap
        <li>1 tsk havssalt
        <li>50 g margarin
        <li>100 g mjölkchoklad eller vit choklad
    </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Blanda grädde, socker, sirap och salt i en tjockbottnad kastrull. Koka upp och rör tills sockret har smält.
    <li id="margin">Koka utan lock på medelvärme tills smeten klarar kulprovet och har en temperatur på 123°. Dra kastrullen från värmen och låt svalna något.
    <li id="margin">Hacka chokladen och skär smöret i tärningar. Rör ner choklad och smör i smeten och rör tills det smält.
    <li id="margin">Häll smeten i en form med bakplåtspapper, ca 20x30 cm. Låt svalna. Skär fudgen i bitar innan den stelnat helt. Förvara svalt.
</ol>
</div>
</div>
