<div class="andra">
        <div class="stor" id="titel">GODIS</div>
            <a href="/public/site/rockyroad.html"><div class="box" id="rockb"></div></a>
            <div class="box">Rocky road är makalöst gott och otroligt lättbakat.</div>
            <a href="/public/site/knäck.html"><div class="box" id="box2"></div></a>
            <div class="box">Klassisk knäck är ett måste till jul. Låt socker, grädde och sirap koka ihop och använda gärna en kökstermometer för att avgöra när knäckens konsistens är perfekt. </div>
            <a href="/public/site/fudge.html"><div class="box" id="box7"></div></a>
            <div class="box">Fudgen får den rätta konsistensen med mjölkchoklad i smeten och när den inte kokas till för hög temperatur.</div>
            <a href="/public/site/mintkyssar.html"><div class="box" id="box8"></div></a>
            <div class="box">Mumsigt recept på klassiska mintkyssar - godis som passar perfekt till jul. Du gör enkelt mintkyssarna av äggvita, pepparmintolja, florsocker och choklad.</div>
            <a href="/public/site/brändamandlar.html"><div class="box" id="box9"></div></a>
            <div class="box">Ett klassiskt recept på brända mandlar som passar fint till både glöggen och som snacks i väntan på tomten. </div>
</div>