
<div class="recept">
<div class="bild" id="knäckb"></div>
<div class="fakta"> <h3 id="rubrik">Knäck</h3> <p>Klassisk knäck är ett måste till jul. Knäck är en rolig julklapp att ge bort!</p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b> 50 st <br> <br> <b>Tid:</b> +1 tim 
    <h2>Ingredienser</h2>
    <ul>
        <li>2 dl ljus sirap
        <li>2 dl strösocker
        <li>2 dl vispgrädde
    </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Ställ knäckformar på en bricka.
    <li id="margin">Blanda socker, grädde och sirap i en vid tjockbottnad kastrull. Låt smeten koka kraftigt tills temperaturen är ca 125°C beroende på hur fast knäck som önskas. Använd en digital kökstermometer eller gör ett kulprov för att kontrollera när den är färdig.
    <li id="margin">Ta kastrullen från värmen. Häll upp lite i taget av den heta knäcksmeten i ett litet mått och fyll knäckformarna genast med hjälp av en tesked och låt stelna.
</ol>
</div>
</div>
