
<div class="recept">
<div class="bild" id="kolab"></div>
<div class="fakta"> <h3 id="rubrik">Kolasnittar</h3> <p>Dessa kolasnittar med ingefära är sådär knapriga och härligt sega som vi vill ha dem.</p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b>20 st <br> <br> <b>Tid:</b> +60 min
    <h2>Ingredienser</h2>
    <ul>
        <li>100 g normalsaltat smör
        <li>1 dl strösocker
        <li>1 msk vaniljsocker
        <li>1 msk ljus sirap
        <li>2 dl vetemjöl
        <li>1 tsk bakpulver
        <li>1 tsk malen ingefära
    </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Sätt på ugnen på 175°C.
    <li id="margin">Hyvla smöret tunt och rör ihop med socker.  
    <li id="margin">Tillsätt övriga ingredienser och rör ihop till en smidig deg.  
    <li id="margin">Dela degen i hälften och rulla ut till två längder (för 20 st) som läggs på en plåt med bakplåtspapper. Platta till rullarna något. 
    <li id="margin">Grädda i ugnen i 7–8 minuter.  
    <li id="margin">Ta ut plåten och skär kakorna i lagom stora, sneda bitar medan de fortfarande är varma.  
</ol>
</div>
</div>
