
<div class="recept">
<div class="bild" id="lussb"></div>
<div class="fakta"> <h3 id="rubrik">Lussekatter</h3> <p>Ett klassiskt recept på saffransbröd eller lussekatter!</p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b>150 st <br> <br> <b>Tid:</b>1 tim 30 min
    <h2>Ingredienser</h2>
    <ul>
        <li>50 g jäst
        <li>175 g smör eller margarin
        <li>2 påsar saffran à 1/2 g
        <li>2 dl socker
        <li>5 dl mjölk
        <li>1/2 tsk salt
        <li>ca 1 1/2 l vetemjöl 
    </ul>
    <h2>Till pensling och garnering:</h2>
    <ul>
        <li>ägg
        <li>russin
    </ul>

    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Smula ner jästen i degbunken. Smält matfettet. Stöt saffranet med lite av sockret i en mortel. Rör ner saffranet i det smälta matfettet. Tillsätt mjölken och ljumma degspadet till ca 37˚C.
    <li id="margin">Rör ut jästen i lite av degspadet. Tillsätt resten av degspadet, socker och salt. Arbeta i nästan allt vetemjöl och arbeta degen ca 5 minuter i maskin eller 10 minuter för hand. Strö lite mjöl över degen. Låt den jäsa under bakduk 30- 45 minuter.
    <li id="margin">Ta upp degen på mjölad arbetsbänk. Knåda ev. i resten av mjölet.
    <li id="margin">Baka ut julkusar, flätor eller längder. Lägg bröden på plåtar med bakplåtspapper.
    <li id="margin">Låt jäsa under bakduk 30-45 minuter. Sätt ugnen på 200°C.<br>
    <li id="margin"><b>Pensling och garnering:</b> Pensla med uppvispat ägg och tryck i russin.
    <li id="margin">Grädda julkusarna mitt i ugnen 8-10 minuter och längder och flätor i nedre delen av ugnen 15-20 minuter.
    <li id="margin">Låt brödet svalna på galler under bakduk.
</ol>
</div>
</div>
