
<div class="recept">
<div class="bild" id="mintb"></div>
<div class="fakta"> <h3 id="rubrik">Mintkyssar</h3> <p> Mumsigt recept på klassiska mintkyssar - godis som passar perfekt till jul.</p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b> 50 st <br> <br> <b>Tid:</b> +60 min
    <h2>Ingredienser</h2>
    <ul>
        <li>1 äggvita
        <li>5 droppar pepparmintolja hushållsarom
        <li>3 1/2 dl florsocker
        <li>50 g mörk choklad
    </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Vispa äggvitan fast. Tillsätt pepparmint och rör om.
    <li id="margin">Sikta ner florsockret och fortsätt vispa till en smidig massa.
    <li id="margin">Fyll en spritspåse med massan. Spritsa ut tunna plattor på ett bakplåtspapper.
    <li id="margin">Låt dem torka i rumstemperatur gärna över natten.
    <li id="margin">Smält chokladen och häll den i en strut. Spritsa en droppe på varje mintkyss.
</ol>
</div>
</div>
