
<div class="recept">
<div class="bild" id="mjukpeppb"></div>
<div class="fakta"> <h3 id="rubrik">Mjuk pepparkaka</h3> <p> Ett fantastiskt recept på oemotståndlig mjuk pepparkaka perfekt att servera runt jul. </p>
</div>
<div class="ingredienser">
    
    <b>Portioner:</b> 1 kaka <br> <br> <b>Tid:</b> -60 min
    <h2>Ingredienser</h2>
    <ul>
        <li>smör + ströbröd till formen
        <li>3 dl vetemjöl
        <li>1 1/2 dl strösocker
        <li>1 tsk kanel
        <li>1 tsk malda nejlikor
        <li>1 tsk malen ingefära
        <li>1 tsk bikarbonat
        <li>100 g smör
        <li>1 dl grädde
        <li>1 dl mjölk
        <li>1/2 dl sirap
        <li>2 msk lingonsylt
    </ul>
    
    </div>
<div class="steg"> 
<h2>Gör så här:</h2>
<ol>
    <li id="margin">Sätt ugnen på 175°C.
    <li id="margin">Smörj och bröa en rund eller avlång brödform, ca 1,5 liter (för 1 kaka).
    <li id="margin">Blanda alla torra ingredienser i en bunke. Smält smöret. Rör ner smöret och resten av ingredienserna. Ska inte vispas, endast röras om så att allt blandas väl. Häll smeten i formen.
    <li id="margin">Grädda i nedre delen av ugnen 40-45 minuter.
</ol>
</div>
</div>
