
<div class="recept">
    <div class="bild" id="peppb"></div>
    <div class="fakta"> <h3 id="rubrik">Pepparkakor</h3> <p> Ett klassiskt recept på goda pepparkakor. Baka pepparkakor tillsammans med någon.</p>
    </div>
    <div class="ingredienser">
        
        <b>Portioner:</b>150 st <br> <br> <b>Tid:</b>1 tim 30 min
        <h2>Ingredienser</h2>
        <ul>
            <li>200 g margarin
            <li>1 ½ dl mörk sirap
            <li>3 dl strösocker
            <li>1 ½ dl vispgrädde
            <li>1 msk malen ingefära
            <li>1 msk malen kanel
            <li>½ msk malen kryddnejlika
            <li>½ msk malen kardemumma
            <li>1 msk bikarbonat
            <li>10 dl vetemjöl
        </ul>
        
        </div>
    <div class="steg"> 
    <h2>Gör så här:</h2>
    <ol>
        <li id="margin">Lägg smör, sirap och socker i en kastrull. Värm tills allt har smält. Häll blandningen i en köksmaskin.
        <li id="margin">Tillsätt grädde och kryddor, rör om.
        <li id="margin">Blanda bikarbonat och mjöl, rör ner det i smeten. Arbeta samman till en ganska lös deg. Låt degen vila i kyl ca 1 dygn. Ta fram degen 1 tim innan utbakning.
        <li id="margin">Sätt ugnen på 200°.
        <li id="margin">Kavla ut degen tunt på mjölad arbetsbänk och tag ut kakor med mått. Lägg dem på plåtar med bakplåtspapper och grädda i mitten av ugnen ca 5 min. Låt kakorna svalna på plåten.
    </ol>
    </div>
</div>
