<div class="recept">
    <div class="bild" id="rockb"></div>
    <div class="fakta"> <h3 id="rubrik">Rocky road</h3> <p> Till jul, lucia eller advent, rocky roads är ljuvligt gott julgodis som uppskattas av alla!</p>
    </div>
    <div class="ingredienser">
        
        <b>Portioner:</b> 1 plåt <br> <br> <b>Tid:</b> 30 min
        <h2>Ingredienser</h2>
        <ul>
            <li>150 gram mörk blockchoklad
            <li>150 gram ljus blockchoklad
            <li>220 gram dumle
            <li>1,5 dl marshmallows
            <li>150 gram pistagenötter
        </ul>
        
        </div>
    <div class="steg"> 
    <h2>Gör så här:</h2>
    <ol>
        <li id="margin">Börja med att skala pistagenötterna ifall du inte har köpt färdigskalade.
        <li id="margin">Smält chokladen på låg värme i vattenbad.
        <li id="margin">Dela kolorna i två delar. Tillsätt kola, marshmallows och skalade pistagenötter i den smälta chokladen.
        <li id="margin">Blanda och häll smeten i en bakplåtspapperklädd form som är ca 20x25 cm. Låt stelna i kylskåpet och skär sedan fyrkantiga bitar. Tugga och njut!
    </ol>
    </div>
</div>