body{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: aquamarine;
    min-height: auto;
    transition: all 2s;
    display: grid;
    grid-template-rows: 120px auto;
    grid-gap: 20px;
    grid-template-areas:
    "header"
    "main"

}


header{
    grid-area: header;
    background-image: url(../img/header.jpg);
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}


nav{
    background-image: url(../img/caleb-woods2.jpg);
    width: auto;
    padding-right: 5%;
    height: 100vh;
    left: -350px;
    position: fixed;
    top: 0;
    transition: all 1s;
    color: white;
}

h3{
    padding: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgray;

}
.första{
    grid-area: main;
    display: grid;
    grid-row-gap: 15px;
    grid-template-rows: 300px auto;
    grid-template-columns: 130px auto;
    grid-template-areas: 
    "stor stor" 
}

.box{
    height: 130px;
    background-color: linen;
    font-family: 'Kalam', cursive;
}

.stor{
    grid-area: stor;
    background-color: lightblue;
}
.test{
    left:0;
}

.blurred{
    filter: blur(1.5px);
}

#nav{
    list-style: none;
    font-size: 40px;
}

.activate{
    visibility: visible;
}

i{
    padding: 5px;
    position: fixed;
    top:0;
    z-index: 0;
    font-size: 6vh !important;
    color: white;
}

i:hover{
    cursor: pointer;
}

.recept{
    grid-area: main;
    display: grid;
    background-color: rgb(53, 11, 11);
    padding: 10px;
    font-family: 'Kalam', cursive;
    grid-row-gap: 10px;
    grid-template-rows: 150px auto auto;
    grid-template-columns: 150px auto;
    grid-template-areas: 
    "bild fakta"
    "ingredienser ingredienser"
    "steg steg";
}

.ingredienser{
    grid-area: ingredienser;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    border:2px solid aquamarine;
}

.steg{
    border-radius: 25px;
    border:3px solid aquamarine;
    grid-area: steg;
    background-color: white;
    padding: 10px;
}

.bild{
    grid-area: bild;
    padding-left: -10px;
}

.fakta{
    grid-area: fakta;
    background-color: white;
    padding: 10px;
}

#peppb, #box1{
    background-image: url(/site/img/gingerbread-men2.jpg);
}

#rubrik{
    margin: 0;
}

#margin{
    margin:10px;
}

ol{
    padding-left: 10px;
}

#knäckb, #box2{
    background-image: url(/site/img/knack2.jpg)
}

.box:nth-child(odd) {
    padding-left: 10px;
  }

p{
    margin-top: 0;
}

#rockb{
    background-image: url(/site/img/rocky-road2.jpg)
}
